{% extends 'base.html.twig' %}

{% block body %}
   <div class="w3-card-4 size">
        <header class="w3-container w3-green">
          <h1 class="fondotit w3-note w3-leftbar w3-rightbar  w3-border-green ">Tabla productos ({{ product | length }})</h1>
          <h4 style="float: right;"><a class="btnadd w3-button w3-white w3-text-blue w3-round-large" href="{{ path("create") }}"><b>Añadir</a></b></h4>
         </header>
         <br>
         <form name="llistar" class="w3-pannel llistat w3-border" method="post" action="{{ path ('llistat') }}">
         <label for="price">Price: </label>
         <input type="text" name="price">
         <input type="submit" class="w3-button w3-blue" value="consultar">
         </form>
            {% for message in app.flashes('notice') %}
              <div style="box-shadow: 1px 1px 1px #ccc"class="w3-note w3-red w3-border-bottom w3-shadow">
                {{ message }}
              </div>
            {% endfor %}
   
        <div class="w3-container">
          <p> 
           <table class="w3-table w3-table-all w3-large">
            <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th colspan="3">
            </th>
            </tr>
            {% for item in product %}
                <tr>
                <td>{{ item.ID }}</td>
                <td><a href="#" target="_blank">{{ item.NAME }}</a></td>
                <td>{{ item.DESCRIPTION  }}</td> 
                <td style="text-align: right;">{{ item.PRICE }} $</td>
                <td><a class="w3-button w3-blue btnshow" href="#" onclick="window.open('{{ path("show", {"id" : item.ID}) }}', '', 'width=800,height=500,left=200,top=150;');">Show</a></td>
                <td><a class="w3-large w3-button w3-green btnedit" href="#" onclick="window.open('{{ path("edit", {"id" : item.ID}) }}', '', 'width=800,height=600,left=200,top=150;');">Edit</a></td>
                <td><a class="w3-large w3-button w3-red btndel" href="{{ path("delete" , {"id" : item.ID}) }}" onclick=" return confirm('Borrar el producto?');">Delete</a></td>
                </tr>
            {% endfor %}            
           </table>
          </p>
        </div>
    </div>
    <script>
    $( document ).ready(function() {

        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
   
});
</script>
{% endblock %}
