{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} menu  {% endblock %}

{% block body %}

  <div class="w3-container" id="menu">
    <div class="w3-content" style="max-width:700px">
     <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">THE MENU</span></h5>
    <br>
    <br>
    <div class="w3-row w3-center w3-card-2 w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
        <div class="w3-col s6 tablink">Eat</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
        <div class="w3-col s6 tablink">Drink</div>
      </a>
    </div>

    {# {{ path('producte', {'ID' : opcio.ID}) }} #}

    <div id="Eat" class="w3-container menu w3-padding-48 w3-card-2">
       {% for opcio in menu %}
          {% if opcio.EATDRINK %}
          <div class="{{ cycle(['even','odd'],loop.index) }}">
           <h5 class="w3-border-bottom w3-border-gray tablink"><b><a href="{{ path('producte', {'id' : opcio.ID}) }}">{{opcio.NOM}}</b></a></h5>
           <p>{{opcio.DESCRIPCIO}}</p>
           <p><b>Precio:</b> {{opcio.PREU}} €</p>
           </div>
          {% endif %}
       {% endfor %}
    </div> 
    <div id="Drinks" class="w3-container menu w3-padding-48 w3-card-2">
       {% for opcio in menu %}
          {% if not opcio.EATDRINK  %}
           <h5 class="w3-border-bottom w3-border-gray"><a href="{{ path('producte', {'id' : opcio.ID}) }}"><b>{{opcio.NOM}}</b></a></h5>
           <p>{{opcio.DESCRIPCIO}}</p>
           <p><b>Precio:</b> {{opcio.PREU}} €</p>
          {% endif %}
       {% endfor %}
    </div> 
    <img src="{{ asset('img/coffeehouse2.jpg') }}" style="width:100%;max-width:1000px;margin-top:32px;">
  </div>
  <br>
</div>
<script type="text/javascript" src="{{ asset ('js/script.js') }}"></script>

{% endblock %}


